.background-image{
    background-image:url('http://127.0.0.1:8000/assets/admin/images/bg/1.jpg');
    background-size:100%;
    background-repeat: no-repeat;
}
.background-filter{
    background-color:#000000b3;
}
.border-width{
    border-width:10px !important;
}